		.clear { clear: both; }
		body { margin: 100px auto; width: 960px; background-color: #EFEFEF; }
		* { border: 0; padding: 0; margin:0; list-style: none; }

		.px-slider-wrapper {
			position: relative;
		}

		.px-slider-container {
			margin:0 auto;		
			overflow:hidden; 
			position:relative;
		}

		.pxslide img { max-width: 100%; height: auto; }

		/**
		* Navigation
		*/
		.px-control {
			display:block;
			position:absolute;
			z-index: 200;
			background: #FFF;		
		}
		#px-left, 
		#px-right { top: 0; height: 64px; width: 39px; display: inline-block !important; text-indent: -9999px; }
		#px-left { left: -60px; background: url(images/controls-slider.png) no-repeat 0 0; }
		#px-right { right: -60px; background: url(images/controls-slider.png ) no-repeat -39px 0px; }
		#px-left.disabled { background-position: 0 -65px; }
		#px-right.disabled { background-position: -39px -65px; }
		#px-left:hover { background-position: 0 -65px; }
		#px-right:hover { background-position: -39px -65px; }
		

		/**
		* Pager 
		*/
		.px-thumbs { }
		.px-thumb-box a { text-decoration: none; color: #000000; font-size: 14px; float: left; margin-right: 10px; }
		.px-thumb-box a.current { background: #353535; font-size: 18px; color: #FAFAFA; }
