		.slider {
			margin:0 auto;
			width:810px;
			height:200px;
			position:relative;
		}		
		#pxslides-container {
			margin:0 auto;
			width:730px;
			height:200px;
			overflow:hidden; 
			position:relative;
		}
		#pxslides-container .pxslide {
			margin:0 auto;
			float: left;
			width:730px; 
			height:200px;
		}


		/**
		* Navigation
		*/
		.pxcontrol {
			display:block;
			position:absolute;		
		}
		#pxleftControl {
			top:50px;
			left:0;
		}
		#pxrightControl {
			top:50px;
			right:0;
		}
		#pxleftControl.disabled, 
		#pxrightControl.disabled { 
			cursor: default;
			color: #CCC;
			text-decoration: none;
		}

		/**
		* Pager 
		*/
		.pxthumb-box a { text-decoration: none; color: #000000; font-size: 14px; }
		.pxthumb-box a.current { background: #353535; font-size: 18px; color: #FAFAFA; }